:root {
  font: 17px / 1 sans-serif;
}

html {
  height: 100%;
}

.map {
  height: 50rem;
  width: 79rem;
}

body {
  margin: 0;
  min-height: 100%;
  background: #0077B5;
}

h1 {
  color: rgb(255, 255, 255);
}

button {
  color: white;
    background: #4285F4;
    border: 1px #3079ED solid;
    box-shadow: inset 0 1px 0 #80B0FB;
    height: 1.3rem;
    
}

input {
  height: 1.3rem;
  width: 30%;
  border: 1px solid #ccc;
  padding: 0 15px;
}

.center {
  text-align: center;
}

.infobox {
  
}
